<% login_box %>

<%= form_for :session, url: admin_legacy_session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit "Signin" %>
  </div>
<% end %>

<div class="text-center alert">
  <p><%= flash[:alert] %></p>
</div>
