<tr>
  <td><%= route.name %></td>
  <td><%= truncate(route.description) %></td>
  <td><%= link_to route.map_url, route.map_url %></td>
  <td class="text-right">
    <%= link_to "Edit", edit_admin_legacy_route_path(route) %>
    <%= link_to image_tag("delete.png"), admin_legacy_route_path(route), :method => :delete %>
  </td>
</tr>
