  <div class="route">
    <div class="title">
      <big><%= link_to route.name, ride_route_path(route.ride, route)%></big> 
      <small><%= link_to "map", route.map_url %></small>
    </div>
    <span class="light">Location:</span> <span><%= route.ride.location %></span> <br /> 
    
    <% if(route.occurrence.occurs_this_week?) %>
      <span><%= route.occurrence.this_weeks_date.strftime("%b %e") %></span> at
      <span><%= route.occurrence.begins_at.strftime("%l:%M%p").downcase %></span>
      <small class="light">this week</small>
    <% elsif(route.occurrence.occurs_next_week?) %>
      <span><%= route.occurrence.next_weeks_date.strftime("%b %e") %></span> at
      <span><%= route.occurrence.begins_at.strftime("%l:%M%p").downcase %></span>
      <small class="light">next week</small>
    <% end%>

    <% if(display_details) %>
      <%= render :partial => 'details', :locals => {:route => route} %>
    <% end %>
          
  </div>