<footer>
  <div class="container">
    <%= render :partial => 'common/copyright' %>
    
    <ul>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Contribute", contribute_path %>
      </li>
      <li>
        <%= mail_to "hello@wednesdayworlds.org", "Get in touch" %>
      </li>
      <li>
        <%= link_to "Google Group", "http://groups.google.com/group/wednesdayworlds" %>
      </li>
      <li>
        <%= link_to "Guidelines", guidelines_path %>
      </li>
      <li>
        <%= link_to "Rides", rides_path %>
      </li>
      <li>
        <%= link_to "This week", root_path %>
      </li>
    </ul>
    
    <%= render :partial => 'common/share' %>
  </div>
</footer>