<!DOCTYPE html>
<html class="admin">
<head>
  <title>Admin | WednesdayWorlds</title>
  <%= stylesheet_link_tag :admin %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :application %>
  <%= render :partial => 'common/analytics' %>
</head>
<body class="admin">
  <div id="main">
    <%= page_wrapper do %>
      <%= render :partial => 'admin/legacy/common/logout' %>
      <div id="content" class="copy">
        <%= yield %>
      </div>
    <% end %>

    <%= render :partial => 'common/footer' %>
  </div>
</body>
</html>
