<!DOCTYPE html>
<html class="admin">
<head>
  <title>WednesdayWorlds</title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :application %>
  <%= render :partial => 'common/analytics' %>
</head>
<body class="admin">
  <div id="main">
    <div class="wrapper">
      <%= render :partial => 'admin/common/logout' %>
      <div id="content" class="copy">
        <div id="title">
          <h2 class="left"><%= content_for :page_title %></h2>
          <div class="edit"> <%= content_for :edit_link %> </div>
          <div class="clear"></div>
        </div>

        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => 'common/footer' %>
  </div>
</body>
</html>
