<!DOCTYPE html>
<html>
<head>
  <title>WednesdayWorlds</title>
  <%= stylesheet_link_tag "style" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'raphael-min' %>
  <%= javascript_include_tag 'dateline' %>
  
  <%= render :partial => 'common/analytics' %>

</head>
<body>

  <div id="wrapper" class="content">
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render :partial => 'common/footer' %>

</body>
</html>
