<!DOCTYPE html>
<html>
<head>
  <title>WednesdayWorlds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper" class="content">
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>

  <div id="wrapper" class="footer">
    <div id="footer">

      <div class="container">
        <div class="left">
          <h5>About</h5>
          <p>Wednesday Worlds is a groupride in Blacksburg, VA. It takes place weekly from
          March to September. We leave from Bollo's coffee shop each week on wednesday
          night. <%= link_to 'more &raquo;'.html_safe, about_path %> </p>
          
        </div>
        <div class="right">
          <h5>Info</h5>
          <ul>

            <li>
              <%= link_to "Rides", rides_path %>
            </li>
            <li>
              <%= link_to "Guidelines", guidelines_path %>
            </li>
            <li>
              <%= mail_to "anolson@gmail.com", "Get in touch" %>
            </li>
            <li>
              <%= link_to "Contribute", contribute_path %>
            </li>
            <li>
              <%= link_to "This week", root_path %>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
        <small>&copy; 2010 Andrew Olson</small>
      </div>
    </div>

  </div>
</body>
</html>
