<!DOCTYPE html>
<html>
<head>
  <title>WednesdayWorlds</title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :application %>
  <%= render :partial => 'common/analytics' %>
</head>
<body>
  <div id="main">
    <%= page_wrapper do %>
      <div id="content" class="copy">
        <div id="title">
          <h2><%= content_for :page_title %></h2>
        </div>

        <div class="container">
          <%= yield %>
        </div>
      </div>  
    <% end %>

    <%= render :partial => 'common/footer' %>    
  </div>
</body>
</html>
